<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <style>
        :root {
            {{ with .Site.Params }}
            {{ if .background }}--clr-background: {{ .background }};{{ end }}
            {{ if .surface }}--clr-surface: {{ .surface }}; {{ end }}
            {{ if .primary }}--clr-primary: {{ .primary }}; {{ end }}
            {{ if .secondary }}--clr-secondary: {{ .secondary }}; {{ end }}
            {{ if .accent }}--clr-accent: {{ .accent }}; {{ end }}
            {{ end }}
        }
    </style>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
    <script src="js/script.js" defer></script>
</head>
