<nav>
  <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false"><span class="sr-only">Menu</span></button>
  <ul id="primary-navigation" data-visible="false">
  <li class="nav-link"><a href="{{.Site.BaseURL}}">Home</a></li>
  {{range .Site.RegularPages }}
  <li class="nav-link"><a href="{{ .Permalink }}" >{{ .Params.shortTitle }}</a></li>
  {{ end }}</ul>
</nav>
<h1 class="centered">{{if .IsHome}}{{.Site.Title}}{{else}}{{.Params.Title }}{{end}}</h1>
<div id="{{ .Params.shortTitle }}">
{{ if .Params.image }}
<figure>
    <img src="{{ .Params.image}}"  />
    <figcaption class="centered">
       <h4>{{ .Params.caption }}</h4>
    </figcaption>
</figure>
{{ end }}
<div class="content">{{ .Content }}</div>
{{ if .Params.location }}
<div id="map"></div>
{{ end }}
</div>
